# 02 Simulated Annealinng

In [154]:
import pandas as pd 
tabla=pd.read_excel("datosCT.xlsx", sheet_name="8c").set_index("Unnamed: 0")

tabla

,Tijuana,Mérida,GDL,México,León,Monterrey,Tapachula,Chihuahua
Unnamed: 0,,,,,,,,
Tijuana,0,4180,2306,2848,2529,2409,4005,1583
Mérida,4180,0,1874,1332,1719,2046,1062,2819
GDL,2306,1874,0,542,223,789,1699,1202
México,2848,1332,542,0,389,933,1157,1487
León,2529,1719,223,389,0,711,1544,1140
Monterrey,2409,2046,789,933,711,0,1803,826
Tapachula,4005,1062,1699,1157,1544,1803,0,2644
Chihuahua,1583,2819,1202,1487,1140,826,2644,0

In [157]:
import numpy as np

def intercambio_posicion(R):
    R_aleatorias = R.copy()
    
    # Seleccionar dos índices distintos aleatoriamente
    Rc1, Rc2 = np.random.choice(len(R_aleatorias), size=2, replace=False)
    
   
    R_aleatorias[Rc1], R_aleatorias[Rc2] = R_aleatorias[Rc2], R_aleatorias[Rc1]
    
    return R_aleatorias

R1 = ["Tijuana", "Mérida", "GDL", "Mexico", "Leon", "Monterrey", "Tapachula", "Chihuahua"]


R2 = intercambio_posicion(R1)
R1, R2

(['Tijuana',
  'Mérida',
  'GDL',
  'Mexico',
  'Leon',
  'Monterrey',
  'Tapachula',
  'Chihuahua'],
 ['Tijuana',
  'Mérida',
  'Tapachula',
  'Mexico',
  'Leon',
  'Monterrey',
  'GDL',
  'Chihuahua'])

In [159]:
def distancia_t(ciudades):
    total_dist = 0
    
    for i in range(len(ciudades) - 1):
        c1, c2 = ciudades[i], ciudades[i + 1]
        if c1 in dist and c2 in dist[c1]:
            total_dist += dist[c1][c2]
      
 
    if ciudades[-1] in dist and ciudades[0] in dist[ciudades[-1]]:
        total_dist += dist[ciudades[-1]][ciudades[0]]


    return total_dist


D1

8446

In [161]:
def c_orden_aleatorio(c):
    c_aleatorias = c.copy()
    random.shuffle(c_aleatorias)
    return c_aleatorias

#### Paso 1

In [167]:
T=1000
R1 = ["Tijuana", "Mérida", "GDL", "Mexico", "Leon", "Monterrey", "Tapachula", "Chihuahua"]
R2 = intercambio_posicion(R1)
D1 = distancia_t(R1)
D2 = distancia_t(R2)
q= np.exp((D1 - D2)/T)
p = np.random.uniform(0, 1)
if p < q :
    R1 = R2.copy()

In [175]:
q

0.2564042444642247

In [177]:
p

0.9961465869665878

#### Paso 2

In [181]:
R1
i=0
N = N > 1
i++
while i>=N
break

SyntaxError: invalid syntax (3455907840.py, line 4)