Jose Manuel Orozco Martinez  24/08/2024
# A03 - Ingresos

## Calculo de la utilidad

In [5]:
import pandas as pd 

datos= pd.read_excel("datosCT.xlsx")
datos

    Unnamed: 0  Ingreso  Gasto
0        Enero     1340   1880
1      Febrero     2590   3130
2        Marzo     3570   2140
3        Abril     4450   3370
4         Mayo     1330   2990
5        Junio     1610   1970
6        Julio     1500   2230
7       Agosto     2270   1240
8   Septiembre     1910   1470
9      Octubre     2120   2280
10   Noviembre     3950   1870
11   Diciembre     1380   3140

In [18]:
datos["Utilidad"]= datos["Ingreso"]-(datos["Gasto"])
datos

    Unnamed: 0  Ingreso  Gasto  Utilidad
0        Enero     1340   1880      -540
1      Febrero     2590   3130      -540
2        Marzo     3570   2140      1430
3        Abril     4450   3370      1080
4         Mayo     1330   2990     -1660
5        Junio     1610   1970      -360
6        Julio     1500   2230      -730
7       Agosto     2270   1240      1030
8   Septiembre     1910   1470       440
9      Octubre     2120   2280      -160
10   Noviembre     3950   1870      2080
11   Diciembre     1380   3140     -1760

## Promedio de gastos

In [80]:
promedio_GN=(1880 ,3130 , 2990,1970,2230,2280,3140)
Promedio_de_gastosN= sum(promedio_GN) / len(promedio_GN)
print("el promedio de Gastos en los meses que la Utilidad fue negativa: ",Promedio_de_gastosN)

el promedio de Gastos en los meses que la Utilidad fue negativa:  2517.1428571428573

## Ingresos al año

In [101]:
Ingreso=datos['Ingreso']
total_ingresos = sum(Ingreso)
print( "los ingresos totales del año son:","$",total_ingresos,"Pesos")

los ingresos totales del año son: $ 28020 Pesos

## Estructura usando numpy

In [126]:
import numpy as np 

a = np.array([[1,2],
              [3,4]])

b = np.array([[2],
             [4]])
resultado = np.dot(a,b)
print("El resultado es:",resultado)

El resultado es: [[10]
 [22]]